<div data-role="page" ng-controller="orderCtr">
  <div data-role="header">
    <a href="#" data-rel="back" data-icon="back" data-iconpos="notext">返回</a>
    <h3 class="text-center">正在下单，稍等片刻...</h3>
    <a href="#" data-rel="forward" data-icon="forward" data-iconpos="notext">返回</a>
  </div>
  <div class="ui-content" >
    <div>
      <label for="name">姓名</label>
      <input type="text" id="name" />

      <label for="phone">联系电话</label>
      <input type="text" id="phone"/>

      <label for="address">送餐地址</label>
      <textarea id="address" ></textarea>

      <fieldset data-role="controlgroup">
        <legend>请选择性别</legend>
        <label for="male">男</label>
        <input type="radio" name='sex'id="male" value="1"/>

        <label for="female">女</label>
        <input type="radio" name='sex' id="female" value="1"/>
      </fieldset>

      <button ng-click="submitOrder()">提交订单</button>
    </div>

  </div>
  <<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li ng-click="jump('../index.html')"><a href="#" data-icon="home">首页</a></li>
      <li><a href="myorder.html" data-icon="user">用户中心</a></li>
      <li ng-click="jump('main.html')"><a href="#" data-icon="star">菜单页</a></li>
    </ul>
  </div>
</div>
</div>



<!--
<div ng-include=" 'tpl/include/header.html' "></div>

<div class="alert alert-info">
    <form  ng-hide="succMsg || errMsg">
        <div class="form-group">
            <label for="user_name">收货人：</label>
            <input class="form-control" id="user_name" type="text" ng-model="order.user_name"/>
        </div>
        <div class="form-group">
            <label>性别：</label>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="sex" value="1"  ng-model="order.sex"/>男
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="sex" value="2" ng-model="order.sex"/>女
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="user_name">电话号码：</label>
            <input class="form-control" id="phone" type="text"  ng-model="order.phone"/>
        </div>
        <div class="form-group">
            <label for="user_name">送餐地址：</label>
            <textarea class="form-control" id="addr"  ng-model="order.addr"></textarea>
        </div>

        <input ng-click="submitOrder()" class="btn btn-success btn-block" type="button" value="提交订单"/>

    </form>
    <div class="alert alert-danger" ng-show="errMsg">{{errMsg}}</div>
    <div class="alert alert-success"  ng-show="succMsg">{{succMsg}}</div>
</div>

<div ng-include=" 'tpl/include/footer.html' "></div>-->
